<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>STS</display-name>
  <welcome-file-list>
    <welcome-file>exam/register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>for_admin_login</description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>sts.contorller.admin.login.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/admin/login/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsController</display-name>
    <servlet-name>QuestionsController</servlet-name>
    <servlet-class>sts.contorller.admin.questions.QuestionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsController</servlet-name>
    <url-pattern>/admin/QuestionsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerQuestionCountController</display-name>
    <servlet-name>ManagerQuestionCountController</servlet-name>
    <servlet-class>sts.contorller.admin.managerquestioncount.ManagerQuestionCountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerQuestionCountController</servlet-name>
    <url-pattern>/admin/ManagerQuestionCountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestResultConfigerConterller</display-name>
    <servlet-name>TestResultConfigerConterller</servlet-name>
    <servlet-class>sts.contorller.admin.testresultcfg.TestResultConfigerConterller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestResultConfigerConterller</servlet-name>
    <url-pattern>/admin/TestResultConfigerConterller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStudentScoreContorller</display-name>
    <servlet-name>SearchStudentScoreContorller</servlet-name>
    <servlet-class>sts.contorller.admin.searchscore.SearchStudentScoreContorller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentScoreContorller</servlet-name>
    <url-pattern>/admin/SearchStudentScoreContorller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegisterController</display-name>
    <servlet-name>StudentRegisterController</servlet-name>
    <servlet-class>sts.contorller.exam.register.StudentRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegisterController</servlet-name>
    <url-pattern>/exam/StudentRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperController</display-name>
    <servlet-name>PaperController</servlet-name>
    <servlet-class>sts.contorller.exam.paper.PaperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperController</servlet-name>
    <url-pattern>/exam/PaperController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPaperContorller</display-name>
    <servlet-name>CheckPaperContorller</servlet-name>
    <servlet-class>sts.contorller.exam.checkpaper.CheckPaperContorller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPaperContorller</servlet-name>
    <url-pattern>/exam/CheckPaperContorller</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SystemFilter</display-name>
    <filter-name>SystemFilter</filter-name>
    <filter-class>sts.system.filter.SystemFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SystemFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>